<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vault.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Vault.Properties.Settings>
            <setting name="LastSelectedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImageName" serializeAs="String">
                <value />
            </setting>
            <setting name="blurSigma" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="blurSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VaultPath" serializeAs="String">
                <value>D:\test</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="VaultPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\test</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>heheha</value>
            </setting>
            <setting name="PasswordMath" serializeAs="String">
                <value>9741</value>
            </setting>
            <setting name="BackgroundImageSourceRect" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="BackgroundImageDestRect" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </Vault.Properties.Settings>
    </userSettings>
</configuration>